<div class="row">
    <div class="col-xs-12">
        <button class="btn btn-success">New Recipe</button>
    </div>
</div>
<hr/>
<div class="row">
    <div class="col-xs-12 list-group">
        <a href="#" class="list-group-item d-flex" *ngFor="let recipe of recipes">
            <div class="ms-auto">
            <h4 > Recipe Name {{recipe.name}}   </h4>
            <p > Description {{recipe.description}}</p>
        </div>
        <span>
            <img [src]="recipe.imagePath" alt="" class="recipe-image" />
        </span>
        </a>
        
        <app-recipe-item *ngFor="let recipe of recipes">recipe</app-recipe-item>
    </div>
</div>

